language: python
dist: xenial
python:
- '3.7'
sudo: false
install:
- 'curl -sSL https://raw.githubusercontent.com/python-poetry/poetry/master/get-poetry.py | python'
- source $HOME/.poetry/env
- which poetry
- poetry install -v
script: poetry run pytest -vv tests/
before_deploy:
- poetry config pypi-token.pypi $PYPI_API_TOKEN
- poetry build -f sdist
deploy:
  provider: script
  script: poetry publish -n -vv
  skip_cleanup: true
  on:
    python: 3.6
    repo: uc-cdis/drsclient
    tags: true
after_deploy:
- poetry run pip install gen3git
- poetry run gen3git release
dd:
  secure: yJ4m522XVQenjBegLxX7fsWUVx13uxBG7fALpgOVkhqyNLliVqhxpCAHXf0qPx75oJex3ICzO+B7mM3Wi1wrGUi6uFsqyABBAfeV3m4Ntvi1Ito5bnBHm/YAIR4lf2/ENCOqouMqv3TBu1HG792N2oQ3qMP++pjXMo4YePx0VAw8EUYbJg/ey0o36RTlsaAbOLtgYP4EzRC6Ar20PoEYQCabs+GeXnWW0xUbdphtVIXHNV5G2Xam8itvAVgdCFFq1+UnevXAgdUJhDhYclLpVay4xSO4qgJT4FfOaQaOkdH7GU2VcR2ffkoqMEaENUEwo5Bs3zXmmr33COUU5fsiB/OhVqeKCrsHW8GzkCc0iFHNbM2/oGAC14IPchlUNR4dPvPHKQsbTE+K+ih5ncg3jB+rElWCdnfITw1PiOxM5LdHPiF60cwykw+jpVBilsMb+IGDHqDuapedZ/6SPyPwIWxD5VXP5s3detJ3bFy+Cewbq5DS+Te/KsOHa9HO2eds9ckc6YKbdpk7lWS4TWzTKHhbcZFHJidB6XqVfuoAKiqxWigXH7zscgyJWS+6k5a9Kwrc4nR5uasq6kcecgVyQkDxYZ8nUu1v/wAwN3f+fEw54gMH8p3k7kqBec9VMUxrV9KC0porU+pirLod2AZTHG/g0D2p5sZyDqvdjO3REHc=
